.footer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.social-media svg {
  height: 50px;
  color: white;
  margin: 10px;
  font-size: 70px;
  cursor: pointer;
}

.footer p {
  color: white;
}

.footer span {
  margin-top: -10px;
}

.footer hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 750px;
}
